.changePwdPage {
  color: #0B121F;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}

.changePwdPageBody {
  flex-direction: column;
  margin-left: 20px; /* 左边距离 */
  margin-right: 36px; /* 右边距离 */
}

.title {
  width: 75px;
  height: 18px;
  margin: 34px auto 2rem; 
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}


.inputSection {
  margin-bottom: 1rem;
}

.inputRow {
  display: flex; 
  align-items: center; 
}

.inputField {
  width: calc(100% - 56px);
  padding: 0.5rem 36px 0.5rem 0px;
  border-bottom: 1px solid #CFD1D4;
  border-radius: 0rem;
}

.eyeIcon {
  right: 1.5rem;
  width: 24px;
  height: 24px;
}

.errorMsg {
  color: #FF0000;
  padding: 0.5rem 36px 0.5rem 0px;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.submitBtn {
  width: 335px;
  height: 60px;
  padding: 0.75rem;
  background: #265AE8;
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}


